<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCksXaN3fFsmOf_qAHXNMNNc8T_DVZQoU</string>
	<key>GCM_SENDER_ID</key>
	<string>359347237980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dtcApp</string>
	<key>PROJECT_ID</key>
	<string>dtc-app-f9d81</string>
	<key>STORAGE_BUCKET</key>
	<string>dtc-app-f9d81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359347237980:ios:cd20900c347b18f17f6299</string>
</dict>
</plist>